---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';

const { frontmatter } = Astro.props;
const siteName = 'QLNU-Sec-Team';
const pageTitle = frontmatter?.title ? `${siteName} - ${frontmatter.title}` : siteName;
const pageDescription = frontmatter?.description || "齐鲁师范网络安全社团(QLNU-Sec-Team)官方网站";
const pageUrl = `https://www.qlnu-sec.cn${frontmatter?.currentPath || ''}`; // Replace with your actual site URL
const imageUrl = 'https://www.qlnu-sec.cn/icon.png'; // Replace with your actual image URL
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{pageTitle}</title>
  <link rel="icon" type="image/png" href="/icon.png">
  
  <!-- SEO Meta Tags -->
  <meta name="description" content={pageDescription}>
  <meta name="keywords" content="cybersecurity, QLNU, security team, CTF, information security">
  
  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content={pageTitle}>
  <meta property="og:description" content={pageDescription}>
  <meta property="og:image" content={imageUrl}>
  <meta property="og:url" content={pageUrl}>
  <meta property="og:type" content="website">
</head>

<body>
  <Navbar currentPath={frontmatter?.currentPath} />
  <div class="content">
    <slot transition:animate="slide" />
    <Footer /> 
  </div>
  <style>
    
    .content {
        margin-left: calc(50% - 500px + 160px);
        margin-right: 3%;
        max-width: 800px;
        border-left: 1px solid black; /* 设置左边框 */
        padding-left: 3%; /* 给内容留出一些空间 */
    }

    body {
      padding-bottom: 1px; /* 根据 footer 的高度设置适当的填充 */
      font-family: 'Noto Sans SC Variable', sans-serif;
    }

    @media (max-width: 1200px) {
      .content {
        margin-left: 260px;
        margin-right: 10%;
        max-width: 800px;
      }
    }

    
    @media (max-width: 768px) {
      .content {
        margin-left: 3%;
        margin-right: 3%;
        border-left: none;
        padding-left: 0;
      }

      body {
        padding-bottom: 10px; /* 根据 footer 的高度设置适当的填充 */
    }
    
  }
  </style>

</body>
</html>
