---
const contactEmail = 'contact@qlnu-sec.cn';

const weChatImage = '/wx.svg'; // 请确保 wx.svg 的路径正确
const creator = 'shenghuo2';
---
<hr>
<footer class="footer">
  <div class="footer-content">
    <div class="contact-info">
      <div class="wechat-info">
        <div class="wx"></div>
        <div class="wechat-image-container">
          <img src={weChatImage} alt="WeChat QR Code" class="wechat-image" />
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="copyright">
      
    © <a href="https://github.com/QLNU-Sec-Team">QLNU-Sec-Team</a>
    2024 <br>联系邮箱：<a href={`mailto:${contactEmail}`}>{contactEmail}</a><br> Designed by <a style="color:black;" href=`https://github.com/${creator}`>{creator}</a> using Astro
    <br>

  </div>
</footer>
<style>
  .footer {
    background-color: #ffffff; /* 灰色背景 */
    border-radius: 4px;
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 80%;
    z-index: 1000; /* 确保 footer 在页面顶部 */
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    gap: 5px; /* 减小行间距 */
  }

  .contact-info {
    display: flex;
    flex-direction: row;
    align-items: center; /* 垂直居中 */
    gap: 20px;
  }

  .footer a {
    color: #333;
    /* text-decoration: none; */
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .wechat-info {
    display: flex;
    flex-direction: column;
    align-items: center; /* 垂直居中 */
  }

  .wx::after {
    content: "微信公众号";
  }

  .wechat-image-container {
    background-color: white; /* 设置背景颜色为白色 */
    padding: 2px; /* 添加内边距 */
    border-radius: 3px; /* 可选：添加圆角 */
  }

  .wechat-image {
    width: 80px;
    height: 80px;
    display: block; /* 确保图片为块级元素 */
  }
@media (max-width: 768px) {
.footer {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  font-size: smaller;
  margin-top: 0;
}
}
</style>
