---
// 导入导航项组件
import NavItem from './NavItem.astro';
import { ViewTransitions } from 'astro:transitions';
import '@fontsource-variable/overpass-mono';
import '@fontsource-variable/noto-sans-sc';
import Footer from './Footer.astro';

// 导航项数据，可以从API或文件中读取
const navItems = [
  { label: '关于 About', href: '/' },
  { label: '成员 Members', href: '/member' },
  { label: '奖项 Awards', href: '/award' },
  { label: '友链 Friends', href: '/friends' },
];
const { currentPath } = Astro.props;
const showName = '齐鲁师范网络安全社团';
---
<nav class="navbar">
  <div class="logo-container">
    <a href="https://www.qlnu-sec.cn/">
      <img src="/QLNU.png" alt="Logo" class="logo" />
    </a>
  </div>
  <div class="show-name">
    {showName}
  </div>
  <ul id="menu">
    {navItems.map(item => (
      <NavItem label={item.label} href={item.href} isActive={item.href === currentPath} />
    ))}
  </ul>
  <!--  <ViewTransitions /> 会导致menu.js失效，移除一下暂时先  -->
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
</nav>

<div class="nav2"> 
<ul class="lmenu">
  {navItems.map(item => (
    <NavItem label={item.label} href={item.href} isActive={item.href === currentPath} />
  ))}
</ul>
</div>

<style>
.nav2{
  display: none;
}
.hamburger {
  display: none;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  background-color: #000000;
}

.navbar {
  font-family: 'Noto Sans SC Variable', sans-serif;
  width: 180px;
  position: fixed;
  top: 50%;
  left: 10%;
  height: auto;
  padding: 20px 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar.horizontal {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  transform: none;
  padding: 10px 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.navbar.horizontal ul {
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  flex-grow: 1;
}

.navbar ul li {
  width: 100%;
  margin: 10px 0; /* 增加间距 */
}

.navbar.horizontal ul li {
  margin: 0 10px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
}

.show-name {
  text-align: center;
  margin-bottom: 20px;
}

.navbar.horizontal .logo {
  margin-bottom: 0;
  margin-right: 20px;
}
@media (max-width: 1400px) {
  .navbar {
    left: 4%;
  }
}
@media (max-width: 768px) {
  .navbar {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .navbar ul {
    flex-direction: row;
    justify-content: space-around;
    width: auto;
    flex-grow: 1;
  }

  .navbar ul li {
    margin: 0 10px;
  }

  .logo {
    width: 40px;
    height: 4%;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 10px;
  }

  .show-name {
    display: none;
  }

  body {
    font-family: 'Overpass Mono Variable', monospace;
  }
}
@media (max-width: 500px) {
  .show-name {
    margin-top: 10px;
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;  
  }
  .nav2{
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .hidetag
  {
    display: none;
  }
  .lmenu{
    background-color: rgba(255, 255, 255, 0.8); 
    display: flex;
    list-style-type: none;
    padding: 3px;
    margin: 0;
    flex-direction: column;
  }
  .hamburger {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  .logo {
    width: 40px;
    height: 4%;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 10px;
  }

}


</style>
